/* reset */
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/***************** utility components *****************/

:root{
    font-size:62.5%;

    /******* Custom Properties ********/

    /* primary color */
    --primary-color: #014d4e ;

    /* secondary color */
    --secondary-color: #ff9408;

    /* secondary color modified */
    --secondary-color-m: #ff94088e;

    /* tertiary color */
    --tertiary-color: #017374;

    /* tertiary color modified */
    --tertiary-color-m: #01737498;
}

body{
    font-family: 'Baloo Tamma 2', cursive;
    line-height: 1.8;
    display: flex;
}

/* list */
li{
    list-style:none;
}

/* anchor tags */
a,
a:visited{
    text-decoration: none;
    color:#ffffff;
    font-size:1.5rem;
}

/* main styling */

/************************************** side-nav ****************************************/

aside#side-nav{
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;

}
div.side-nav__content{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
}

div.side-nav__content--logo> img{
    width:calc(3vh + 3vw);
    position: cover;
}

ul.side-nav__content--social{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;   
}

ul.side-nav__content--social a i{
    /* 20px => 2rem => {1 rem + [(10/1500)*100]} =>dynamic value */
    font-size: calc(1rem + 0.66667vw);
    color: #ffffff;
    margin-bottom: calc(2rem + 0.66667vw);
    transition: color 0.2s ease-in-out;
}

ul.side-nav__content--social a i:hover,
ul.side-nav__content--social a i:active{
    color:var(--secondary-color)
}

 
/************************************** main-content ****************************************/
/* main container */
main#main{
    flex-grow:1;
    position: relative;
}

#header{
    width:100%;
    z-index:2;
}
/************************************** main-nav****************************************/

nav#header__main-nav{
    background-color: var(--secondary-color);
    height:calc(3vw + 3vh);

}

ul.header__main-nav--links{
    width:100%;
    height:100%;  
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul.header__main-nav--links>li{
    padding-right:3vw;
}

ul.header__main-nav--links>li>a{
    position:relative;
    padding: 0.2rem 0.6rem;
    font-size:calc(1rem + 0.6667vw)
}

ul.header__main-nav--links>li>a:link::before,
ul.header__main-nav--links>li>a:visited::before,
ul.header__main-nav--links>li>a:link::after,
ul.header__main-nav--links>li>a:visited::after{
    position: absolute;
    left:0;
    content: "";
    height: 0.25rem;
    width:100%;
    background-color: #ffffff;

    transform:scaleX(0);

    transition:transform 0.6s cubic-bezier(1, 0, 0, 1);
}

ul.header__main-nav--links>li>a:link::before,
ul.header__main-nav--links>li>a:visited::before{
    top:0;
    transform-origin:left;
}
ul.header__main-nav--links>li>a:link::after,
ul.header__main-nav--links>li>a:visited::after{
    bottom:0;
    transform-origin:right;
}
ul.header__main-nav--links>li>a:active::before,
ul.header__main-nav--links>li>a:hover:before,
ul.header__main-nav--links>li>a:active::after,
ul.header__main-nav--links>li>a:hover::after{
    transform: scaleX(1);
}

/************************************** main-nav--hamburger ****************************************/
/* max-width:610px */
@media screen and (max-width:610px){
    /* header#header{
        position: absolute;
    } */

    nav#header__main-nav{
        height:100vh;
        width:30rem;
        position:fixed;
        top: 0;
        right:-30rem;
    }

    .clicked{
        left:55%;
    }
    ul.header__main-nav--links{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    ul.header__main-nav--links>li{
        margin-left: 6vw;
        margin-bottom: 4vh;
    }

    div.header__main-nav--hamburger{
        position: fixed;
        top: 2rem;
        right:3rem;
        background-color: var(--secondary-color);
        width:5rem;
        height: 5rem;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1rem;
    }
    div.line{
        height: 0.3rem;
        width:100%;
        background-color: #ffffff;
        border-radius: 0.2rem;
        transition: all 0.4s ease-in-out;
        
    }

    .clicked .line-1{
        transform: rotate(-405deg) translate(-.8rem,.6rem);
    }

    .clicked .line-3{
        transform: rotate(405deg) translate(-.8rem,-.6rem);
    }

    .clicked .line-2{
        opacity:0;
    }

   
    ul.header__main-nav--links li{
        opacity: 0;
    }

    ul.header__main-nav--links li.fade{
        opacity: 1;
    }

    ul.header__main-nav--links li:nth-child(1){
        transition: all 0.5s ease-in-out 0.2s;
    }
    ul.header__main-nav--links li:nth-child(2){
        transition: all 0.5s ease-in-out 0.4s;
    }
    ul.header__main-nav--links li:nth-child(3){
        transition: all 0.5s ease-in-out 0.6s;
    }
    ul.header__main-nav--links li:nth-child(4){
        transition: all 0.5s ease-in-out 0.8s;
    }
    ul.header__main-nav--links li:nth-child(5){
        transition: all 0.5s ease-in-out 1s;
    }
    ul.header___main-nav--links li:nth-child(6){
        transition: all 0.5s ease-in-out 1.2s;
    }

}
